node_modules/


logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
report.[0-9]*.md

coverage/
.nyc_output/

.next/
out/

build/
dist/

.eslintcache
.turbo/
.cache/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.vercel/

*.tsbuildinfo
next-env.d.ts

.DS_Store
Thumbs.db
.idea/
.vscode/

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
